<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.whir.hos.inspection.pc.dao.EmployeeDao">
    <resultMap id="employeeMap" type="net.whir.hos.inspection.pc.bean.Employee"  autoMapping="true">
        <id column="id" property="id"/>
        <id column="department_id" property="departmentId"/>
        <id column="inspection_id" property="inspectionId"/>
        <association property="department" javaType="net.whir.hos.inspection.pc.bean.Department"
                     select="queryDepartment" column="department_id">
        </association>
        <association property="inspection" javaType="net.whir.hos.inspection.pc.bean.Inspection"
                     select="queryInspection" column="inspection_id">
        </association>
    </resultMap>

    <select id="findPage" parameterType="net.whir.hos.inspection.pc.bean.Employee" resultMap="employeeMap">
        select * from Employee
        <where>
            <if test=" id > -1 and id != null">
                and id = #{id}
            </if>
            <if test=" name!=null and name != '' ">
                and name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test=" createTime!=null and createTime != '' ">
                and create_time = #{createTime}
            </if>
            <if test=" departmentId!=null and departmentId!='' ">
                and department_id = #{departmentId}
            </if>
            <if test=" inspectionId!=null and inspectionId!='' ">
                and inspection_id = #{inspectionId}
            </if>
            <if test=" review > -1 and review != null ">
                and review = #{review}
            </if>
        </where>
        order by id desc
    </select>

    <select id="queryDepartment" resultType="net.whir.hos.inspection.pc.bean.Department">
        select * from department where id = #{department_id}
    </select>

    <select id="queryInspection" resultType="net.whir.hos.inspection.pc.bean.Inspection">
        select * from inspection where id = #{inspection_id}
    </select>

</mapper>