<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.whir.hos.inspection.pc.dao.InspectionHistoryDao">

    <resultMap id="InspectionHistoryMap" type="net.whir.hos.inspection.pc.bean.InspectionHistory" autoMapping="true">
        <id column="id" property="id"/>
        <!--<association property="inspection" javaType="net.whir.hos.inspection.pc.bean.Inspection" autoMapping="true"
                     select="getInspection" column="inspection_id">
        </association>-->
    </resultMap>

    <select id="findPage" parameterType="net.whir.hos.inspection.pc.bean.InspectionHistory" resultMap="InspectionHistoryMap">
        select inspection_id,employee_id,create_time,max(id) id from inspection_history group by employee_id,inspection_id,create_time order by create_time desc
    </select>

    <!--<resultMap id="InspectionMap" type="net.whir.hos.inspection.pc.bean.Inspection" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="item" javaType="java.util.List" ofType="net.whir.hos.inspection.pc.bean.Item"
                    autoMapping="true" select="getItem" column="id">
        </collection>
    </resultMap>

    <select id="getInspection" resultType="net.whir.hos.inspection.pc.bean.Inspection" resultMap="InspectionMap">
        select * from inspection where id = #{inspection_id}
    </select>

    <select id="getItem" parameterType="map" resultType="net.whir.hos.inspection.pc.bean.Item">
        select i.* from item i inner join inspection_item ii on ii.item_id = i.id where ii.inspection_id = #{id}
    </select>-->

</mapper>