<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.whir.hos.inspection.pc.dao.RemindUnifiedDao">

    <resultMap id="UnifiedRemindMap" type="net.whir.hos.inspection.pc.bean.RemindUnified" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="inspections" javaType="java.util.List" ofType="net.whir.hos.inspection.pc.bean.Inspection"
                    select="queryInspection" column="id" autoMapping="true">
        </collection>
    </resultMap>


    <select id="selectUnifiedRemindPage" parameterType="net.whir.hos.inspection.pc.bean.RemindUnified"
            resultMap="UnifiedRemindMap">
            select * from remind_unified order by id desc
    </select>

    <!--一对多-->
    <select id="queryInspection" resultType="net.whir.hos.inspection.pc.bean.Inspection" parameterType="map">
        select i.* from inspection i inner join inspection_unifiedremind iu on i.id = iu.inspection_id where iu.unifiedRemind_id = #{id}
    </select>

</mapper>